<section class="wrap--patternbg">
    <h2>IMBA CARD BENEFITS</h2>
    <aside class="seperator"></aside>
    <div class="content-inner">
        <ul class="list-content--third">
            <li class="item-box">
                <img src="assets/images/icon_cashback.png">
                <h3>10% cashback</h3>
                <p>The only card for gamers in Singapore which allows you to earn cashback</p>
            </li>
            <li class="item-box">
                <img src="assets/images/icon-game.png">
                <h3>In-game items</h3>
                <p>Redeem exclusive in-game items (selected games only) with your IMBA$</p>
            </li>
            <li class="item-box">
                <img src="assets/images/icon-events.png">
                <h3>Special game events</h3>
                <p>Get exclusive events for MatchMove Wallet users (selected games only)</p>
            </li>
            <li class="item-box">
                <img src="assets/images/icon-sneakpeek.png">
                <h3>Exclusive game sneak peaks</h3>
                <p>Get exclusive beta invite for upcoming games</p>
            </li>
            <li class="item-box">
                <img src="assets/images/icon-annual.png">
                <h3>Annual fee</h3>
                <p>$0 annual fee</p>
            </li>
        </ul>
    </div>
</section>
