<div class="ngdialog-header" ng-hide="feedbackSuccess">
    <h3>Could you please tell us why?</h3>
</div>
<div class="ngdialog-message" ng-hide="feedbackSuccess">
    <form name="feedback" ng-submit="addUser()">
        <div class="section-form">
            <textarea
                ng-model="user.reasons"
                required
                placeholder="Please enter your message here"
                autofocus ></textarea>
                <div class="formMsg-error" ng-show="feedback.reasons.$dirty && feedback.reasons.$invalid">Invalid:
                  <span ng-show="feedback.reasons.$error.required">Kindly enter a reason.</span>
                </div>
        </div>
        <div class="section-form">
            <button type="submit" class="btn-primary btn-blk" ng-disabled="feedback.$invalid">Register</button>
        </div>
    </form>
</div>
<div class="ngdialog-success" ng-show="feedbackSuccess">
    <img src="assets/images/success.png">
    <h3>Thank you!</h3>
    <p>We appreciate your feedback!</p>
</div>
