<div class="ngdialog-header" ng-hide="registerSuccess">
    <h3>Please provide us with the following for updates when we launch!</h3>
</div>
<div class="ngdialog-message" ng-hide="registerSuccess">
    <form ng-submit="addUser()" name="register">
        <div class="section-form">
            <input type="text"
                ng-model="user.name"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Name" autofocus/>
        </div>
        <div class="section-form">
            <input type="email"
                ng-model="user.email"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Email" />
        </div>
        <div class="section-form">
            <input type="number"
                ng-model="user.age"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Age" />
        </div>
        <div class="section-form">
            <input type="tel"
                ng-model="user.mobile"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Mobile" />
        </div>
        <div class="section-form">
            <select ng-model="user.country" required ng-init="user.country = 'singapore'" ng-model-options="{ updateOn: 'addUser' }">
                <option value="singapore" selected>Singapore</option>
                <option value="phillipines">Phillipines</option>
                <option value="others">Others</option>
            </select>
        </div>
        <div class="section-form">
            <button class="btn-primary btn-blk" type="submit">Register</button>
        </div>
    </form>
</div>
<div class="ngdialog-success" ng-show="registerSuccess">
    <img src="assets/images/success.png">
    <h3>Thank you!</h3>
    <p>We will contact you when we have more updates</p>
</div>
