<div class="ngdialog-header" ng-hide="registerSuccess">
    <h3>Provide the following details and we will contact you with any udpates!</h3>
</div>
<div class="ngdialog-message" ng-hide="registerSuccess">
    <form ng-submit="addUser()" name="register">
        <input type="hidden"
            ng-model="user.datecreated"
            ng-model-options="{ updateOn: 'addUser' }"
            ng-init="'new Date()'"  />
        <div class="section-form">
            <input type="text"
                ng-model="user.name"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Name" autofocus/>
                <div class="formMsg-error" ng-show="register.name.$dirty && register.name.$invalid">Invalid:
                  <span ng-show="register.name.$error.required">Kindly enter a Name.</span>
                </div>
        </div>
        <div class="section-form">
            <input type="email"
                ng-model="user.email"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Email" />
                <div class="formMsg-error" ng-show="register.email.$dirty && register.email.$invalid">Invalid:
                  <span ng-show="register.email.$error.required">Kindly enter an email address.</span>
                </div>
        </div>
        <div class="section-form">
            <input type="tel"
                ng-model="user.mobile"
                required
                ng-model-options="{ updateOn: 'addUser' }"
                placeholder="Mobile" />
                <div class="formMsg-error" ng-show="register.mobile.$dirty && register.mobile.$invalid">Invalid:
                  <span ng-show="register.mobile.$error.required">Kindly enter a mobile no.</span>
                </div>
        </div>
        <input type="hidden"
            ng-model="user.interest"
            ng-model-options="{ updateOn: 'addUser' }"
            ng-init="user.interest='YES'" />
        <input type="hidden"
            ng-model="user.reasons"
            ng-model-options="{ updateOn: 'addUser' }"
            ng-init="user.reasons='NA'" />
        <div class="section-form">
            <button class="btn-primary btn-blk" type="submit">Register</button>
        </div>
    </form>
</div>
<div class="ngdialog-success" ng-show="registerSuccess">
    <img src="assets/images/success.png">
    <h3>Thank you!</h3>
    <p>We’ll be in touch once we have any udpates!</p>
</div>
