#cd-table {
    table {
        width: 100%;
    }
    td {
        position: relative;
        text-align: left;
        padding: 0 1em;
        border-bottom: 1px solid $cell-border;
        height: $row-height;
        background-color: $cell-bg;
        color: #787a8d;
        // line-height: $row-height;
        font-size: 1.2em;
        font-weight: bold;
    }
    tr:nth-child(odd) {
        td {
            background-color:darken($cell-bg,5%);
        }
    }
    tbody {
        tr:nth-child(odd) {
            background-color: #f6f7fa;
        }
    }
    th {
        position: relative;
        text-align: center;
        padding: 0 1em;
        border-bottom: 1px solid $cell-border;
        height: $row-height;
        font-size: 1.2em;
        line-height: $row-height;
        background: rgba(121, 130, 153, 0.95);
        color: #fff;
        border-color: #6b758d;
        box-shadow: 2px 0 0 rgba(0, 0, 0, 0.1);
    }
}



.content-hero {
    background: linear-gradient(169deg,#045e9e 40%,#73c2fb 100%);
    background-size: 140%;
    background-color: #045e9e;
    color: #fff;
    text-align: center;
    padding:4em 1em;
}

.wrap--data {
    width: 100%;
    max-width: 100%;
    .content-inner {
        padding: 1em;
    }
    .section-inline {
        display: inline-block;
        max-width: 200px;
        padding:5px 0;
        margin:10px;
        vertical-align: top;
    }
    .section-table--forms {
        @extend .clearfix;
    }
}
%number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.number {
    &-large {
        @extend %number;
        font-size: 4em;
    }
    &-medium {
        @extend %number;
        font-size: 2em;
    }
}
.stats {
    @extend .clearfix;
    font-size: 0;
    background: rgba(255,255,255,.1);
    border-radius: 4px;
    width: 20%;
    margin:2.5%;
    border:1px inset rgba(255,255,255,.1);
    display: inline-block;
    transition: .2s ease-out;
    &:hover {
        box-shadow: inset 0 0 3px rgba(255,255,255,.1),0 0 10px rgba(255,255,255,.3);
        transform: scale(1.1);
        transition: .3s ease-in;
    }
    &.active {
        box-shadow: inset 0 0 3px rgba(255,255,255,.1),0 0 10px rgba(255,255,255,.3);
        transform: scale(1.1);
        transition: .3s ease-in;
    }
    .top {
        width: 100%;
        font-size: 16px;
        padding: 1em;
        border-bottom: 1px inset rgba(255,255,255,.1);
    }
    .button-split {
        font-size: 16px;
        padding: .5em 1em;
        width: 50%;
        display: inline-block;
        text-align: center;
        &:first-of-type {
            border-right: 1px inset rgba(255,255,255,.1);
        }
        .number-medium {
            display: block;
        }
    }
    li:nth-child(2) {
        border-right: 1px inset rgba(255,255,255,.1);
    }
}


.field-time {
    white-space: nowrap;
}
.field-referrer {
    max-width: 200px;
    font-family: monospace;
    overflow: hidden;
    line-height: 14px !important;
    height: 50px !important;
    white-space: nowrap;
}
.field-useragent {
    max-width: 250px;
    font-family: monospace;
    overflow: hidden;
    font-size: 9px !important;
    line-height: 11px !important;
    height: 50px !important;
}



.tabs--links {
    text-align: center;
    li {
        display: inline-block;
        cursor: pointer;
        transition: background 0.9s ease-in, box-shadow 0.1s ease-out;
    }
    a {
        display: inline-block;
        padding: 1em 2.5em;
        border-radius:5px;
        cursor: pointer;
        font-size: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        color: #333;
    }
    li.active {
        background: linear-gradient(169deg,#045e9e 40%,#73c2fb 100%);
        border-radius: 5px;
        box-shadow: inset 0 0 115px #045e9e,0 0 1px #999;
        transition: background 0.6s ease-in, box-shadow 0.4s ease-out;
        a {
            font-weight: bold;
            color: #fff;
        }
    }
}



.form-admin {
    width:400px;
    margin:4em auto;
    padding: 2em;
    box-shadow: 0 0 10px #ddd;
}
