$error:#cc4a4a;
$success:#4ecc27;
$warning:#ffbb33;
$progress:#00abcd;


.msgWIcon {
    @extend .clearfix;
    display: table;
    margin: auto;
    border: 1px solid;
    border-radius:3px;
    font-size: 1.1em;
    // .box-shadow(~"0 0 5px #a6a6a6");
    &.ng-hide-add.ng-hide-add-active {
        animation: pulse .5s ease-in;
    }
    &.ng-hide-remove.ng-hide-remove-active {
        animation: fadeOutDown .3s ease-in;
    }
    .msgIcon {
        width: 50px;
        display: table-cell;
        min-height: 30px;
        vertical-align: middle;
        text-align: center;
        color: #fff !important;
        i {
            font-size: 2.4em;
        }
    }
    .msgTip {
        background: #fff;
        color: #444;
        font-weight: 400;
    }
    .msgTip {
        padding: .75em 1em;
        text-align: left;
        font-size: 1em;
        line-height: 1.1;
        min-height: 50px;
        border-radius:0 3px 3px 0;
        vertical-align: middle;
        & > div {
            @extend .clearfix;
            padding-top: .5em;
        }
    }
}
.msgError {
    background:darken($error,10%);
    border-color:darken($error,15%);
    .msgIcon {
        background: transparent;
        i {
            color:#fff;
        }
    }

}
.msgSuccess {
    background: darken($success,10%);
    border-color:darken($success,15%);
    .msgIcon {
        background: transparent;
        i {
            color:#fff;
        }
    }
}
.msgProgress {
    background: darken($progress,10%);
    border-color:darken($progress,15%);
    .msgIcon {
        background: transparent;
        i {
            color:#fff;
        }
    }
}
.msgWarning {
    background: darken($warning,10%);
    border-color:lighten($warning,15%);
    .msgIcon {
        background: transparent;
        i {
            color:#fff;
            text-shadow: 0 -1px 0 darken($warning,10%);
        }
    }
}
