/*------------------------------------------------------------------
[Base Grid]

Device:             Mobile
Project:            MMVPAY SG
Version:            1.0
Last change:        3/03/14 [Refactor Completion]
Assigned to:        Shantanu Gautam
Primary use:        Footer Mobile
-------------------------------------------------------------------*/


.footer{
    @extend .clearfix;
    text-align: center;
    position: relative;
    padding: 1em 0;
    [class*='col-']{
        padding: .5em !important;
    }
    & > .col-1{
        display: block;
        max-width: 1014px;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto 1em;
        float: none;
        padding: .5em !important;
    }
    .links{
        text-align: center;
        display: inline-block;
        li{
            display: inline-block;
            margin:3px 4px;
            font-size: 10px;
            a{
                white-space: nowrap;
            }
        }
    }
    a,
    a:link,
    a:visited{
        // color: lighten(@footerLinks,10%);
        text-decoration: none;
    }
    a:hover{
        // color: darken(@footerLinks,40%);
    }
    p{
        // color: @footerLinks;
        font-size: 11px;
        margin: .5em 0;
        text-align: center;
    }
}
