$modal-bg :#F7931D;
$modal-header-bg: #FCBE67;

.ngdialog-content {
    background: $modal-bg !important;
    padding: 0 !important;
    overflow: hidden;
    width: 320px !important;
}

.ngdialog {
    &-header {
        background: $modal-header-bg;
        padding: 1em 2em;
        h3 {
            font-family: 'bebasneue', "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 700;
            font-size: 2em;
            line-height: 1.2;
            margin: 0;
        }
    }
    &-message {
        padding: 1em 2em;
    }
    &-success {
        background: $modal-bg !important;
        padding:4em 0;
        text-align: center;
        h3 {
            font-family: 'bebasneue', "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 700;
            font-size: 2em;
            line-height: 1.2;
            margin: 0;
        }
        img {
            max-width: 40%;
            margin: auto;
        }
        p {
            margin: auto;
        }
    }
}
