.ngdialog-close {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
}
.ngdialog-buttons {
    padding: 1em;
    background: #f9f9f9;
}



@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px) scale3d(.4,.4,.4);
    transform: translateY(-40px) scale3d(.4,.4,.4);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px) scale3d(.4,.4,.4);
    -ms-transform: translateY(-40px) scale3d(.4,.4,.4);
    transform: translateY(-40px) scale3d(.4,.4,.4);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px) scale3d(.4,.4,.4);
    transform: translateY(-40px) scale3d(.4,.4,.4);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px) scale3d(.4,.4,.4);
    -ms-transform: translateY(-40px) scale3d(.4,.4,.4);
    transform: translateY(-40px) scale3d(.4,.4,.4);
  }
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 160px;
    padding-top: 160px;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
    animation: ngdialog-flyout .5s cubic-bezier(8.000, -0.530, 0.405, 1.425);
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    animation: ngdialog-flyin .5s cubic-bezier(10.000, -0.530, 0.405, 1.425);
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 450px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
    color: #777;
}

.ngdialog.ngdialog-theme-default .ngdialog-message {
    margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input {
    margin-bottom: 1em;
}


.ngdialog-content {
    position: relative;
    width: 400px;
    max-width: 100%;
    margin:auto;
    // height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 0;
    right: 0;
    box-shadow: 0 0 25px #333;
    border-radius: 3px;
    .btn-blk {
        display: block !important;
        width: 100%;
        margin: 1em auto 0;
    }
    .success-change {
        background: #09f;
        text-align: center;
        color: #fff;
        font-size: 2em;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 55px;
    }
}
.ngdialog-title {
    padding: 1em;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    h3 {
        margin:0;
    }
}
.change-banner {
    background: #2DD7AA;
    min-height: 20vh;
    min-height: 100px;
    text-align: center;
    img {
        max-height: 140px;
        width: auto;
        margin:auto;
    }
}

.modal-form {
    opacity: 1;
    &.ng-hide-add.ng-hide-add-active {
        transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.5s;
    }
    &.ng-hide-remove.ng-hide-remove-active {
        transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.5s;
    }
    &.ng-hide {
        opacity: 0;
    }
}

.modal-success {
    opacity: 1;
    transform:scale3d(1,1,1);
    &.ng-hide-add.ng-hide-add-active {
        transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.5s;
    }
    &.ng-hide-remove.ng-hide-remove-active {
        transition: all cubic-bezier(1.000, -0.530, 0.405, 1.425) 0.5s;
    }
    &.ng-hide {
        opacity: 0;
        transform:scale3d(.3,.3,.3);
    }

}
