$submenuBg : #f9f9f9;
$menuborder : #ddd;
%dropdown__content {
    background : $submenuBg;
    max-width:200px;
    max-height:250px;
    position: absolute;
    right: 0;
    border: 1px solid $menuborder;
    border-radius : 3px;
    box-shadow : 0 0 5px #ddd;
    display: none;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid $menuborder;
        top: -9px;
        right: 10px;
        position: absolute;
    }
}

.dropdown__content {
    @extend %dropdown__content;
    &-notifications {
        @extend %dropdown__content;
        min-width: 200px;
    }
}

.hasDropdown {
    position: relative;
    &:hover {
        .dropdown__content,.dropdown__content-notifications {
            display: block;
        }
    }
}
