<h2>Reward program benefits</h2>
<aside class="seperator"></aside>
<div class="content-inner">
    <ul class="list-content--third content-inner--background">
        <li>
            <img src="assets/images/logo-itunes.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-google.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-xbox.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-battlenet.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-steam.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-steelseries.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-ps.png" height="40">
        </li>
    </ul>
</div>
