/*------------------------------------------------------------------
[Main]

Device:             ALL
Project:            Kickstarter
Version:            1.0
Last change:        29/01/15 [Init]
Assigned to:        Shantanu Gautam
Primary use:        Main Site Skin Build
-------------------------------------------------------------------*/

@import "../assets/scss/base/normalize";
@import "../assets/scss/base/defaults";
@import "../assets/scss/base/grids";
@import "../assets/scss/base/fonts";



@import "../assets/scss/helper/mixing";
@import "../assets/scss/helper/position";
@import "../assets/scss/helper/text";
@import "../assets/scss/helper/display";

@import "../assets/scss/components/buttons";
@import "../assets/scss/components/forms";
@import "../assets/scss/components/modal";

@import "../assets/scss/helper/animated";
