.image-text {
    img {
        display: inline-block;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.utility-image__replace {
    display:inline-block;
    text-indent: -9999px;
    overflow: hidden;
}
