<h2>How it works</h2>
<aside class="seperator"></aside>
<div class="content-inner--split">
    <div class="box">
        <img src="assets/images/cards.png">
    </div>
    <div class="box">
        <div class="box--special">
            <div class="box-header">
                <h4>Collect 10X IMBA$ when you make a purchase<br/>at selected merchants!</h4>
                <p>Every $1 spent = 10 IMBA$</p>
            </div>
            <h4>Redeem IMBA$ for cashback worth 10% <br/>of your purchase</h4>
            <p>100 IMBA$ = $1 CASHBACK</p>
        </div>
    </div>
</div>
