<h2>Selected Merchants</h2>
<aside class="seperator"></aside>
<div class="content-inner">
    <ul class="list-content--third">
        <li>
            <img src="assets/images/logo-itunes.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-google.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-xbox.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-battlenet.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-steam.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-steelseries.png" height="40">
        </li>
        <li>
            <img src="assets/images/logo-ps.png" height="40">
        </li>
    </ul>
</div>
<h2>
    <a ng-dialog="components/contact/contact.html"
    ng-dialog-controller="contactCtrl"
    ng-dialog-class="ngdialog-theme-default"
    ng-dialog-show-close="false"
    ng-dialog-close-previous
    style="color:rgb(51, 51, 51);cursor:pointer">Ask a Question about the IMBA Card!</a>
</h2>
