<div class="ngdialog-header" ng-hide="registerSuccess">
    <h3>Contact us</h3>
</div>
<div class="ngdialog-message" ng-hide="requestSuccess">
    <form ng-submit="addRequest()" name="request">
        <div class="section-form">
            <input type="text"
                ng-model="request.name"
                required
                ng-model-options="{ updateOn: 'addRequest' }"
                placeholder="Name" autofocus/>
                <div class="formMsg-error" ng-show="register.name.$dirty && register.name.$invalid">Invalid:
                  <span ng-show="register.name.$error.required">Kindly enter a Name.</span>
                </div>
        </div>
        <div class="section-form">
            <input type="email"
                ng-model="request.email"
                required
                ng-model-options="{ updateOn: 'addRequest' }"
                placeholder="Email" />
                <div class="formMsg-error" ng-show="register.email.$dirty && register.email.$invalid">Invalid:
                  <span ng-show="register.email.$error.required">Kindly enter an email address.</span>
                </div>
        </div>
        <div class="section-form">
            <textarea ng-model="request.message"
                required
                ng-model-options="{ updateOn: 'addRequest' }"
                placeholder="Mobile" />
                <div class="formMsg-error" ng-show="request.message.$dirty && request.message.$invalid">Invalid:
                  <span ng-show="request.message.$error.required">Kindly enter a mobile no.</span>
                </div>
        </div>
        <div class="section-form">
            <button class="btn-primary btn-blk" type="submit">Submit</button>
        </div>
    </form>
</div>
<div class="ngdialog-success" ng-show="requestSuccess">
    <img src="assets/images/success.png">
    <h3>Thank you!</h3>
    <p>We’ll respond to your queries soon.</p>
</div>
